In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#Load data from csv file
sales_data=pd.read_csv("Desktop/sales_data_with_discounts.csv")
print(sales_data)  #display the sales data  
print("No.of rows and columns in sales",sales_data.shape )                       # Identify the no.of column and rows in sales_data
print("No.of columns in sales")
print(sales_data.columns)                      #show the only columns in dataset
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])     #select specify numerical columns
print("No.of specific numeric columns in sales")
print(sales_data_specifycol)

           Date       Day  SKU City  Volume         BU  Brand       Model  \
0    01-04-2021  Thursday  M01    C      15    Mobiles  RealU       RU-10
1    01-04-2021  Thursday  M02    C      10    Mobiles  RealU   RU-9 Plus
2    01-04-2021  Thursday  M03    C       7    Mobiles   YouM       YM-99
3    01-04-2021  Thursday  M04    C       6    Mobiles   YouM  YM-99 Plus
4    01-04-2021  Thursday  M05    C       3    Mobiles   YouM      YM-98
..          ...       ...  ...  ...     ...        ...    ...         ...
445  15-04-2021  Thursday  L06    C       2  Lifestyle  Jeera   M-Casuals
446  15-04-2021  Thursday  L07    C       6  Lifestyle   Viva   W-Western
447  15-04-2021  Thursday  L08    C       2  Lifestyle   Viva    W-Lounge
448  15-04-2021  Thursday  L09    C       3  Lifestyle  Jeera   M-Formals
449  15-04-2021  Thursday  L10    C       1  Lifestyle  Jeera     M-Shoes

     Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0        12100             181500          11.654820     21153.498820
1        10100             101000          11.560498     11676.102961
2        16100             112700           9.456886     10657.910157
3        20100             120600           6.935385      8364.074702
4         8100              24300          17.995663      4372.946230
..         ...                ...                ...              ...
445       1300               2600          15.475687       402.367873
446       2600              15600          17.057027      2660.896242
447       1600               3200          18.965550       606.897606
448       1900               5700          16.793014       957.201826
449       3100               3100          15.333300       475.332295

     Net Sales Value
0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[450 rows x 13 columns]
(450, 13)
No.of rows and columns in sales (450, 13)
No.of columns in sales
Index(['Date', 'Day', 'SKU', 'City', 'Volume', 'BU', 'Brand', 'Model',
       'Avg Price', 'Total Sales Value', 'Discount Rate (%)',
       'Discount Amount', 'Net Sales Value'],
      dtype='object')
No.of specific numeric columns in sales
     Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0        12100             181500          11.654820     21153.498820
1        10100             101000          11.560498     11676.102961
2        16100             112700           9.456886     10657.910157
3        20100             120600           6.935385      8364.074702
4         8100              24300          17.995663      4372.946230
..         ...                ...                ...              ...
445       1300               2600          15.475687       402.367873
446       2600              15600          17.057027      2660.896242
447       1600               3200          18.965550       606.897606
448       1900               5700          16.793014       957.201826
449       3100               3100          15.333300       475.332295

     Net Sales Value
0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[450 rows x 5 columns]

In [71]:
#calculate mean
print("Mean values for all specify columns")
sales_data_specifycol.mean(axis="index")

Mean values for all specify columns

Avg Price            10453.433333
Total Sales Value    33812.835556
Discount Rate (%)       15.155242
Discount Amount       3346.499424
Net Sales Value      30466.336131
dtype: float64

In [73]:
#calculate median
print("Median values for all specify columns")
sales_data_specifycol.median(axis="index")

Median values for all specify columns

Avg Price            1450.000000
Total Sales Value    5700.000000
Discount Rate (%)      16.577766
Discount Amount       988.933733
Net Sales Value      4677.788059
dtype: float64

In [31]:
#calculate mode for average price
print("Mode values for Average price")
print(sales_data_specifycol["Avg Price"].mode())
print("Mode values for Total sale value")
print(sales_data_specifycol["Total Sales Value"].mode())
print("Mode values for Discount Rate")
print(sales_data_specifycol["Discount Rate (%)"].mode())
print("Mode values for Discount Amount")
print(sales_data_specifycol["Discount Amount"].mode())
print("Mode values for Net Value")
print(sales_data_specifycol["Net Sales Value"].mode())

Mode values for Average price
0     400
1     450
2     500
3    1300
4    8100
Name: Avg Price, dtype: int64
Mode values for Total sale value
0    24300
Name: Total Sales Value, dtype: int64
Mode values for Discount Rate
0       5.007822
1       5.055218
2       5.059801
3       5.072124
4       5.084108
         ...
445    19.940610
446    19.965340
447    19.976879
448    19.982257
449    19.992407
Name: Discount Rate (%), Length: 450, dtype: float64
Mode values for Discount Amount
0         69.177942
1         73.025199
2         93.649161
3         94.682735
4        102.705757
           ...
445    17900.983733
446    21153.498820
447    21496.675367
448    25328.224204
449    25738.022194
Name: Discount Amount, Length: 450, dtype: float64
Mode values for Net Value
0         326.974801
1         330.822058
2         466.350839
3         485.317265
4         496.607104
           ...
445    162603.186379
446    163915.971000
447    163967.080070
448    166263.161348
449    179507.479049
Name: Net Sales Value, Length: 450, dtype: float64

In [33]:
#calculate Standard Deviation
print("Standard Deviation for all specify columns")
sales_data_specifycol.std()

Standard Deviation for all specify columns

Avg Price            18079.904840
Total Sales Value    50535.074173
Discount Rate (%)        4.220602
Discount Amount       4509.902963
Net Sales Value      46358.656624
dtype: float64

In [ ]:
#For total sale value
# mean > median (mean=33812.835556,median=5700.000000)
#So,Total sale value is positively skewed frequency

In [13]:
#Find interquartile range and outlier for average price
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])   
print("Average price list for sales")
avg=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price"])     
print(avg)
print(avg.shape[0])
#Detail about Average Price
print("Detail about average price")
print(avg.describe())
#InterQuartileRange
avgq1=sales_data_specifycol["Avg Price"].quantile(.25)
avgq3=sales_data_specifycol["Avg Price"].quantile(.75)
avgIQR=avgq3-avgq1
print("Interaquartile={}  Q1={}  Q3={}".format(avgIQR,avgq1,avgq3))
avglowerbound=avgq1-(1.5*(avgIQR))
avgupperbound=avgq3+(1.5*(avgIQR))
print("Lower bound value:",avglowerbound)
print("Upper bound value:",avgupperbound)
#outlier list
outlier_value=avg[(avg["Avg Price"]<avglowerbound)|(avg["Avg Price"]>avgupperbound)]
print("No.of outliers items are",outlier_value.shape[0])
print("Outlier list")
print(outlier_value)
# Remove outlier value
not_outlier_value=avg[(avg["Avg Price"]>avglowerbound)&(avg["Avg Price"]<avgupperbound)]
print("No.of items not outliers are:",not_outlier_value.shape[0])
print(" Data without Outlier")
print(not_outlier_value)
sns.boxplot(not_outlier_value)

Average price list for sales
     Avg Price
0        12100
1        10100
2        16100
3        20100
4         8100
..         ...
445       1300
446       2600
447       1600
448       1900
449       3100

[450 rows x 1 columns]
450
Detail about average price
          Avg Price
count    450.000000
mean   10453.433333
std    18079.904840
min      290.000000
25%      465.000000
50%     1450.000000
75%    10100.000000
max    60100.000000
Interaquartile=9635.0  Q1=465.0  Q3=10100.0
Lower bound value: -13987.5
Upper bound value: 24552.5
No.of outliers items are 60
Outlier list
     Avg Price
6        49100
7        54100
8        55100
9        60100
36       49100
37       54100
38       55100
39       60100
66       49100
67       54100
68       55100
69       60100
96       49100
97       54100
98       55100
99       60100
126      49100
127      54100
128      55100
129      60100
156      49100
157      54100
158      55100
159      60100
186      49100
187      54100
188      55100
189      60100
216      49100
217      54100
218      55100
219      60100
246      49100
247      54100
248      55100
249      60100
276      49100
277      54100
278      55100
279      60100
306      49100
307      54100
308      55100
309      60100
336      49100
337      54100
338      55100
339      60100
366      49100
367      54100
368      55100
369      60100
396      49100
397      54100
398      55100
399      60100
426      49100
427      54100
428      55100
429      60100
No.of items not outliers are: 390
 Data without Outlier
     Avg Price
0        12100
1        10100
2        16100
3        20100
4         8100
..         ...
445       1300
446       2600
447       1600
448       1900
449       3100

[390 rows x 1 columns]

In [51]:
#Find interquartile range and outlier for Total Sales Value
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])   
print("Total Sales Values")
total=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Total Sales Value"])     
print(total)
print(total.shape[0])
#Details about total sales values
print("Detail about Total Sales Value")
print(total.describe())
#InterQuartileRange
totalq1=sales_data_specifycol["Total Sales Value"].quantile(.25)
totalq3=sales_data_specifycol["Total Sales Value"].quantile(.75)
totalIQR=totalq3-totalq1
print("Interaquartile={}  Q1={}  Q3={}".format(totalIQR,totalq1,totalq3))
totallowerbound=totalq1-(1.5*(totalIQR))
totalupperbound=totalq3+(1.5*(totalIQR))
print("Lower bound value:",totallowerbound)
print("Upper bound value:",totalupperbound)
#outlier list
total_outlier_value=total[(total["Total Sales Value"]<totallowerbound)|(total["Total Sales Value"]>totalupperbound)]
print("No.of outliers items are",total_outlier_value.shape[0])
print("Outlier list")
print(total_outlier_value)
# Remove outlier value
total_not_outlier_value=total[(total["Total Sales Value"]>totallowerbound)&(total["Total Sales Value"]<totalupperbound)]
print("No.of items not outliers are:",total_not_outlier_value.shape[0])
print(" Data without Outlier")
print(total_not_outlier_value)

Total Sales Values
     Total Sales Value
0               181500
1               101000
2               112700
3               120600
4                24300
..                 ...
445               2600
446              15600
447               3200
448               5700
449               3100

[450 rows x 1 columns]
450
Detail about Total Sales Value
       Total Sales Value
count         450.000000
mean        33812.835556
std         50535.074173
min           400.000000
25%          2700.000000
50%          5700.000000
75%         53200.000000
max        196400.000000
Interaquartile=50500.0  Q1=2700.0  Q3=53200.0
Lower bound value: -73050.0
Upper bound value: 128950.0
No.of outliers items are 36
Outlier list
     Total Sales Value
0               181500
6               147300
9               180300
30              133100
36              147300
38              165300
39              180300
66              196400
96              147300
126             147300
127             162300
157             162300
180             145200
186             147300
187             162300
188             165300
189             180300
210             169400
216             147300
240             181500
243             140700
246             147300
278             165300
300             145200
306             147300
308             165300
309             180300
338             165300
339             180300
363             140700
366             147300
390             133100
396             147300
420             157300
426             147300
428             165300
No.of items not outliers are: 414
 Not outlier value
     Total Sales Value
1               101000
2               112700
3               120600
4                24300
5                24300
..                 ...
445               2600
446              15600
447               3200
448               5700
449               3100

[414 rows x 1 columns]

In [65]:
#Find interquartile range and outlier for Discount Rate
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])   
print("Discount Rate")
discount_rate=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Discount Rate (%)"])     
print(discount_rate)
print(discount_rate.shape[0])
#Details about Discount Rate
print("Detail about Discount Rate Value")
print(discount_rate.describe())
#InterQuartileRange
discountq1=sales_data_specifycol["Discount Rate (%)"].quantile(.25)
discountq3=sales_data_specifycol["Discount Rate (%)"].quantile(.75)
discountIQR=discountq3-discountq1
print("Interaquartile={}  Q1={}  Q3={}".format(discountIQR,discountq1,discountq3))
discountlowerbound=discountq1-(1.5*(discountIQR))
discountupperbound=discountq3+(1.5*(discountIQR))
print("Lower bound value:",discountlowerbound)
print("Upper bound value:",discountupperbound)
#outlier list
discount_outlier_value=discount_rate[(discount_rate["Discount Rate (%)"]<discountlowerbound)|(discount_rate["Discount Rate (%)"]>discountupperbound)]
print("No.of outliers items are",discount_outlier_value.shape[0])
print("Outlier list")
print(discount_outlier_value)
# Remove outlier value
discount_not_outlier_value=discount_rate[(discount_rate["Discount Rate (%)"]>discountlowerbound)&(discount_rate["Discount Rate (%)"]<discountupperbound)]
print("No.of items not outliers are:",discount_not_outlier_value.shape[0])
print("Data without Outlier")
print(discount_not_outlier_value)

Discount Rate
     Discount Rate (%)
0            11.654820
1            11.560498
2             9.456886
3             6.935385
4            17.995663
..                 ...
445          15.475687
446          17.057027
447          18.965550
448          16.793014
449          15.333300

[450 rows x 1 columns]
450
Detail about Discount Rate Value
       Discount Rate (%)
count         450.000000
mean           15.155242
std             4.220602
min             5.007822
25%            13.965063
50%            16.577766
75%            18.114718
max            19.992407
Interaquartile=4.149655934050962  Q1=13.965062543701741  Q3=18.114718477752703
Lower bound value: 7.740578642625298
Upper bound value: 24.339202378829146
No.of outliers items are 45
Outlier list
     Discount Rate (%)
3             6.935385
7             5.553719
8             7.410104
33            6.214888
36            5.252113
67            7.621791
69            5.007822
93            5.870671
98            6.710454
99            6.095201
127           5.935084
128           7.584591
152           7.732667
153           7.233847
156           5.420507
157           6.849976
159           7.256696
187           7.178726
212           7.679386
213           5.794802
218           5.059801
242           6.858255
243           7.208363
246           7.341874
248           6.473305
249           6.439920
273           7.421326
278           6.268914
279           6.819111
302           6.170398
303           5.072124
307           6.106931
308           6.508719
336           6.066192
338           5.084108
368           6.326892
393           6.415230
397           5.055218
398           5.411802
399           5.511042
422           5.485157
423           5.466379
426           6.008200
427           6.642595
428           5.425911
No.of items not outliers are: 405
 Not outlier value
     Discount Rate (%)
0            11.654820
1            11.560498
2             9.456886
4            17.995663
5            16.996489
..                 ...
445          15.475687
446          17.057027
447          18.965550
448          16.793014
449          15.333300

[405 rows x 1 columns]

In [63]:
#Find interquartile range and outlier for Discount Amount
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])   
print("Discount Amount Values")
discount_amount=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Discount Amount"])     
print(discount_amount)
print(discount_amount.shape[0])
#Details about Discount Amount
print("Detail about Discount Amount Value")
print(discount_amount.describe())
#InterQuartileRange
discount1q1=sales_data_specifycol["Discount Amount"].quantile(.25)
discount1q3=sales_data_specifycol["Discount Amount"].quantile(.75)
discount1IQR=discount1q3-discount1q1
print("Interaquartile={}  Q1={}  Q3={}".format(discount1IQR,discount1q1,discount1q3))
discountlowerbound1=discount1q1-(1.5*(discount1IQR))
discountupperbound1=discount1q3+(1.5*(discount1IQR))
print("Lower bound value:",discountlowerbound1)
print("Upper bound value:",discountupperbound1)
#outlier list
discount1_outlier_value=discount_amount[(discount_amount["Discount Amount"]<discountlowerbound1)|(discount_amount["Discount Amount"]>discountupperbound1)]
print("No.of outliers items are",discount1_outlier_value.shape[0])
print("Outlier list")
print(discount1_outlier_value)
# Remove outlier value
discount1_not_outlier_value=discount_amount[(discount_amount["Discount Amount"]>discountlowerbound1)&(discount_amount["Discount Amount"]<discountupperbound1)]
print("No.of items not outliers are:",discount1_not_outlier_value.shape[0])
print("Data without Outlier")
print(discount1_not_outlier_value)

Discount Amount Values
     Discount Amount
0       21153.498820
1       11676.102961
2       10657.910157
3        8364.074702
4        4372.946230
..               ...
445       402.367873
446      2660.896242
447       606.897606
448       957.201826
449       475.332295

[450 rows x 1 columns]
450
Detail about Discount Amount Value
       Discount Amount
count       450.000000
mean       3346.499424
std        4509.902963
min          69.177942
25%         460.459304
50%         988.933733
75%        5316.495427
max       25738.022194
Interaquartile=4856.03612280112  Q1=460.4593038855329  Q3=5316.4954266866525
Lower bound value: -6823.594880316146
Upper bound value: 12600.54961088833
No.of outliers items are 24
Outlier list
     Discount Amount
0       21153.498820
6       13594.039719
9       17900.983733
30      17445.603828
38      13951.660194
39      16384.029009
66      16892.520951
90      15214.643324
96      12622.503658
180     17178.331859
186     12753.565958
188     13999.938499
189     17696.813621
210     25328.224204
216     13608.238319
240     25738.022194
300     21496.675367
309     16332.919930
339     14036.838652
363     12734.009012
366     13275.780741
390     16218.594720
396     13382.227333
420     15984.732281
No.of items not outliers are: 426
 Not outlier value
     Discount Amount
1       11676.102961
2       10657.910157
3        8364.074702
4        4372.946230
5        4130.146805
..               ...
445       402.367873
446      2660.896242
447       606.897606
448       957.201826
449       475.332295

[426 rows x 1 columns]

In [1]:
#Find interquartile range and outlier for Net Sale Value
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sales_data_specifycol=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Avg Price", "Total Sales Value", "Discount Rate (%)",
       "Discount Amount", "Net Sales Value"])   
print("Net Sales Values")
net_amount=pd.read_csv("Desktop/sales_data_with_discounts.csv",usecols=["Net Sales Value"])     
print(net_amount)
print(net_amount.shape[0])
#Details about Net sales values
print("Detail about Net Sales Value")
print(net_amount.describe())
#InterQuartileRange
netq1=sales_data_specifycol["Net Sales Value"].quantile(.25)
netq3=sales_data_specifycol["Net Sales Value"].quantile(.75)
netIQR=netq3-netq1
print("Interaquartile={}  Q1={}  Q3={}".format(netIQR,netq1,netq3))
netlowerbound1=netq1-(1.5*(netIQR))
netupperbound1=netq3+(1.5*(netIQR))
print("Lower bound value:",netlowerbound1)
print("Upper bound value:",netupperbound1)
#outlier list
net_outlier_value=net_amount[(net_amount["Net Sales Value"]<netlowerbound1)|(net_amount["Net Sales Value"]>netupperbound1)]
print("No.of outliers items are",net_outlier_value.shape[0])
print("Outlier list")
print(net_outlier_value)
# Remove outlier value
net_not_outlier_value=net_amount[(net_amount["Net Sales Value"]>netlowerbound1)&(net_amount["Net Sales Value"]<netupperbound1)]
print("No.of items not outliers are:",net_not_outlier_value.shape[0])
print("Data without Outlier")
print(net_not_outlier_value)

Net Sales Values
     Net Sales Value
0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[450 rows x 1 columns]
450
Detail about Net Sales Value
       Net Sales Value
count       450.000000
mean      30466.336131
std       46358.656624
min         326.974801
25%        2202.208645
50%        4677.788059
75%       47847.912852
max      179507.479049
Interaquartile=45645.70420627015  Q1=2202.2086453212287  Q3=47847.91285159138
Lower bound value: -66266.347664084
Upper bound value: 116316.46916099661
No.of outliers items are 35
Outlier list
     Net Sales Value
0      160346.501180
6      133705.960281
9      162399.016267
36     139563.638215
38     151348.339806
39     163915.971000
66     179507.479049
96     134677.496342
126    134731.954625
127    152667.358354
157    151182.489533
180    128021.668141
186    134546.434042
187    150648.927866
188    151300.061501
189    162603.186379
210    144071.775796
216    133691.761681
240    155761.977806
243    130557.833327
246    136485.419091
278    154937.485475
300    123703.324633
306    134934.946692
308    154541.087365
309    163967.080070
338    156895.968772
339    166263.161348
363    127965.990988
366    134024.219259
390    116881.405280
396    133917.772667
420    141315.267719
426    138449.922039
428    156330.969890
No.of items not outliers are: 415
Data without Outlier
     Net Sales Value
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
5       20169.853195
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[415 rows x 1 columns]